@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%, 0.75);

  /* Typography */
  --font-family: "Kumbh Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-tight: 0.98;
  --line-height-loose: 1.65;

  /* Font sizes */
  --font-size-small: 0.75rem; /* 12px */
  --font-size-base-small: 0.938rem; /* 15px */
  --font-size-base: 1rem; /* 16px */
  --font-size-medium: 1.125rem; /* 18px */
  --font-size-xmedium: 1.25rem; /* 20px */
  --font-size-large: 1.75rem; /* 28px */
  --font-size-xlarge: 2.75rem; /* 44px */

  /* Spacing */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-8: 2rem; /* 32px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-12: 3rem; /* 48px */
  --spacing-14: 3.5rem; /* 56px */
  --spacing-16: 4rem; /* 64px */
  --spacing-18: 4.5rem; /* 72px */
  --spacing-20: 5rem; /* 80px */
  --spacing-22: 5.5rem; /* 88px */
  --spacing-24: 6rem; /* 96px */
  --spacing-32: 8rem; /* 128px */
  --spacing-36: 9rem; /* 144px */

  /* Header */
  --max-width-header: 69.375rem; /* 1110px */

  /* Page container */
  --max-width-page: 69.375rem; /* 1110px */

  /* logo */
  --logo-width-mobile: 8.625rem; /* 138px */

  /* Avatar */
  --avatar-size-mobile: 1.5rem; /* 24px */
  --avatar-size-desktop: 3.125rem; /* 50px */

  /* Dropdown cart */
  --cart-dropdown-width: 22.5rem; /* 360px */

  /* Add to cart */
  --add-to-cart-height: 3.5rem; /* 56px */

  /* Checkout button */
  --checkout-button-height: 3.5rem; /* 56px */

  /* Product quantity badge */
  --product-qty-badge-size: 3.5rem; /* 56px */

  /* Outline */
  --outline-offset: 0.25rem; /* 4px */

  /* Product images */
  --product-image-height-mobile: 18.75rem; /* 300px */
  --product-image-height-desktop: 27.813rem; /* 445px */
  --product-image-lightbox-size: 34.375rem; /* 550px */

  /* Thumbnails */
  --thumbnail-size: 5.5rem; /* 88px */

  /* Close icon */
  --close-icon-lightbox-size: 1.25rem; /* 20px */

  /* Lightbox navigation buttons */
  --lightbox-button-size-mobile: 2.5rem; /* 40px */
  --lightbox-button-size-desktop: 3.5rem; /* 56px */

  /* Images */
  /*--main-image-width-desktop: 28.125rem;*/ /* 450px */
  /* --main-image-height-desktop: 100%; */
  --horizontal-section-image-width: 6.25rem; /* 100px */

  /* Borders */
  --border-radius-small: 0.5rem; /* 8px */
  --border-radius: 1rem; /* 16px */
  --border-radius-large: 2rem; /* 32px */
  --border-radius-full: 50rem; /* 800px */

  /* Shadows */
  --shadow: 0px 24px 20px -4px rgb(255, 125, 26, 0.3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-loose);
  color: var(--dark-grayish-blue);
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Accessibility helper */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

img {
  max-width: 100%;
  display: block;
}

/* Mobile header */
.site-header {
  width: 100%;
  max-width: var(--max-width-header);
  padding: var(--spacing-6);
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  position: relative;
}

.site-header .menu-toggle {
  background: none;
  border: 0;
  padding: 0;
}

.site-header img {
  display: block;
}

.site-header .logo {
  width: var(--logo-width-mobile);
}

.header-actions {
  margin-inline-start: auto; /* push actions to the right */
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.cart-button {
  position: relative;
  background: none;
  border: 0;
  padding: 0;
}

.header-actions .avatar {
  width: var(--avatar-size-mobile);
  height: var(--avatar-size-mobile);
  border-radius: var(--border-radius-full);
}

/* Mobile overlay menu */
.mobile-menu {
  position: fixed;
  inset: 0 0 0 0;
  background-color: var(--black);
  display: none;
  align-items: flex-start;
  z-index: 60;
}

.mobile-menu[aria-hidden="false"],
.mobile-menu.open {
  display: flex;
}

.mobile-menu__inner {
  width: 70%;
  height: 100%;
  background-color: var(--white);
  padding: var(--spacing-6);
}

.mobile-menu__close {
  background: none;
  border: 0;
  margin-block-end: var(--spacing-12);
}

.mobile-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.mobile-menu__list a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

/* Cart dropdown */
.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);

  width: var(--cart-dropdown-width); /* 360px */

  background-color: var(--white);
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow);
  margin-top: var(--spacing-4);
  z-index: 50;
  /* display: none; */
}

.cart-dropdown__title {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--grayish-blue);
  height: 4.25rem; /* 68px */
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  color: var(--very-dark-blue);
  padding-inline: var(--spacing-6);
}

.cart-dropdown__inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.cart-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  padding-inline: var(--spacing-6);
}

.cart-item__image {
  width: 3.125rem; /* 50px */
  border-radius: var(--border-radius-small);
}

.cart-item__remove {
  background: none;
  border: 0;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}

.cart-dropdown__footer {
  padding-inline: var(--spacing-6);
  padding-block-end: var(--spacing-8);
}

.checkout-button {
  width: 100%;
  height: var(--checkout-button-height);
  background-color: var(--orange);
  color: var(--very-dark-blue);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  border: 0;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

/* Page container */
.page-container {
  width: 100%;
  max-width: 45rem;
  margin-block-end: var(--spacing-20);
}

.main-product-image {
  position: relative;
}

.product-image {
  margin-block-end: var(--spacing-6);
  height: var(--product-image-height-mobile); /* 300px */
  width: 100%;
  cursor: pointer;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white);
  border: 0;
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: var(--border-radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next {
  right: var(--spacing-4); /* 16px */
}
.previous {
  left: var(--spacing-4); /* 16px */
}

.next img,
.previous img {
  width: 0.625rem; /* 10px */
  height: 0.813rem; /* 13px */
}

.product-thumbnails {
  display: none;
}
.brand,
.product-title,
.product-desc,
.product-pricing,
.product-actions {
  padding-inline: var(--spacing-6);
}
.brand {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--dark-grayish-blue);
  letter-spacing: 0.16em;
  margin-block-end: var(--spacing-3);
}

.product-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--very-dark-blue);
  line-height: 1.15;
  margin-block-end: var(--spacing-4);
}

.product-desc {
  color: var(--dark-grayish-blue);
  font-size: var(--font-size-base-small);
  line-height: 1.65;
  margin-block-end: var(--spacing-6);
}

.product-pricing {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  margin-block-end: var(--spacing-6);
}

.price {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--very-dark-blue);
  letter-spacing: 0.04em;
}

.discount {
  background-color: var(--very-dark-blue);
  color: var(--light-grayish-blue);
  font-weight: var(--font-weight-bold);
  padding: 0.125rem 0.5rem;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-base);
  align-self: flex-end;
}

.original {
  color: var(--dark-grayish-blue);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.02em;
  text-decoration: line-through;
  margin-inline-start: auto;
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.quantity-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--spacing-4);
  background-color: var(--light-grayish-blue);
  height: var(--add-to-cart-height);
  border-radius: var(--border-radius-small);
}
.quantity-selector button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.product-quantity {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--very-dark-blue);
}

.cart-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4);
  background-color: var(--orange);
  color: var(--very-dark-blue);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  height: var(--add-to-cart-height);
  border: 0;
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.cart-add-button img {
  filter: brightness(0) invert(0);
  margin-block-end: 0.313rem; /* 5px */
  width: 1.125rem; /* 18px */
}

.hidden {
  display: none;
}
/* Desktop layout */
@media (min-width: 900px) {
  .site-header {
    width: var(--max-width-header);
    gap: var(--spacing-14);
    padding-inline: 0;
    border-bottom: 1px solid var(--grayish-blue);
  }

  .menu-toggle {
    display: none;
  }

  .mobile-menu {
    position: static;
    display: flex;
    align-items: flex-start;
    background: none;
  }

  .mobile-menu__inner {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding: 0;
  }

  .mobile-menu__close {
    display: none;
  }

  .mobile-menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
  }

  .mobile-menu__list a {
    color: var(--dark-grayish-blue);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base-small);
  }

  .header-actions .avatar {
    width: var(--avatar-size-desktop);
    height: var(--avatar-size-desktop);
  }

  .page-container {
    max-width: var(--max-width-page); /* 1110px */
    margin-block-start: var(--spacing-22);
    display: flex;
    gap: var(--spacing-32);
    padding-inline: var(--spacing-12);
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--spacing-32) - 0.188rem);
  }

  .main-product-image button {
    display: none;
  }

  .product-image {
    height: var(--product-image-height-desktop); /* 445px */
    width: auto;
    grid-column: 1 /2;
  }

  .product-thumbnails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: var(--spacing-6);
    grid-column: 1 / 2;
    margin-block-end: var(--spacing-0);
  }

  .thumbnail-button {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .product-thumbnails img {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    border-radius: var(--border-radius-small);
  }

  .product-details {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block-start: calc(var(--spacing-16) - 0.125rem); /* 62px */
  }

  .product-actions {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
    align-self: end;
    margin-block-end: calc(var(--spacing-18) + 0.25rem); /* 76px */
    margin-inline-end: var(--spacing-12);
  }

  .quantity-selector {
    flex-grow: 1;
  }

  .cart-add-button {
    flex-grow: 2;
  }
  .brand,
  .product-title,
  .product-desc,
  .product-pricing,
  .product-actions {
    padding-inline: 0;
  }

  .brand {
    font-size: calc(var(--font-size-small) + 0.063rem); /* 13px */
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.15em;
    margin-block-end: calc(var(--spacing-4) + 0.188rem);
  }

  .product-title {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
    margin-block-end: calc(var(--spacing-10) - 0.188rem); /* 37px */
  }

  .product-desc {
    color: var(--dark-grayish-blue);
    line-height: 1.65;
    margin-block-end: calc(var(--spacing-6) + 0.125rem); /* 26px */
  }

  .product-pricing {
    display: block;
    margin-block-end: calc(var(--spacing-10) - 0.188rem); /* 37px */
  }

  .original {
    display: block;
  }

  .cart-add-button {
    box-shadow: none;
  }

  /* Lightbox styles */
  .product-images.lightbox-active {
    position: fixed;
    inset: 0 0 0 0;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 70;
  }

  .lightbox-active .product-image {
    height: var(--product-image-lightbox-size); /* 550px */
    width: var(--product-image-lightbox-size); /* 550px */
    margin-block-end: var(--spacing-10);
    border-radius: var(--border-radius);
    cursor: default;
  }

  .lightbox-active .lightbox__close {
    display: block;
    background: none;
    border: 0;
    filter: brightness(0) invert(1);
    transform: translateX(
      calc(
        (var(--product-image-lightbox-size) / 2) -
          var(--close-icon-lightbox-size) / 2
      )
    );
    height: var(--close-icon-lightbox-size);
    width: var(--close-icon-lightbox-size);
    margin-block-end: var(--spacing-6);
    cursor: pointer;
  }

  .lightbox-active .lightbox__close img {
    width: 100%;
    height: 100%;
  }

  .lightbox-active .main-product-image button {
    display: flex;
    width: var(--lightbox-button-size-desktop); /* 56px */
    height: var(--lightbox-button-size-desktop); /* 56px */

    top: calc((var(--product-image-lightbox-size) / 2) - 0.625rem);
  }
  .next {
    right: calc(-1 * var(--lightbox-button-size-desktop) / 2); /* -28px */
  }
  .previous {
    left: calc(-1 * var(--lightbox-button-size-desktop) / 2); /* -28px */
  }

  .lightbox-active .product-thumbnails {
    gap: var(--spacing-8);
  }
}
